<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Login/Signup Page</title>
</head>
<body>
    <div class="container">
        <div class="tab-container">
            <div class="tab" onclick="showTab('login')">Login</div>
            <div class="tab" onclick="showTab('signup')">Sign Up</div>
        </div>

        <div class="content-container">
            <div id="login-container">
                <h2>Login</h2>
                <form id="login-form">
                    <div class="form-group">
                        <label for="login-username">Username:</label>
                        <input type="text" id="login-username" name="login-username" required>
                    </div>
                
                    <div class="form-group">
                        <label for="login-password">Password:</label>
                        <input type="password" id="login-password" name="login-password" required>
                    </div>
                
                    <button type="button" onclick="login()">Login</button>
                </form>
            </div>

            <div id="signup-container" style="display: none;">
                <h2>Sign Up</h2>
                <form id="signup-form">
                    <div class="form-group">
                        <label for="signup-username">Username:</label>
                        <input type="text" id="signup-username" name="signup-username" required>
                    </div>

                    <div class="form-group">
                        <label for="signup-paßssword">Password:</label>
                        <input type="password" id="signup-password" name="signup-password" required>
                    </div>

                    <div class="form-group">
                        <label for="signup-firstname">First Name:</label>
                        <input type="text" id="signup-firstname" name="signup-firstname" required>
                    </div>
                    
                    <button type="button" onclick="signup()">Sign Up</button>
                </form>
            </div>
            <p id="response" style="color: red"></p>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
