<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>User Details</title>
</head>
<body>
    <div id="user-details-container" class="container">
        <h2>User Details</h2>
        <div id="user-details">
            <p><strong>Username:</strong> <span id="username-placeholder"></span></p>
            <p><strong>Password:</strong> <span id="password-placeholder"></span></p>
            <p><strong>First Name:</strong> <span id="firstname-placeholder"></span></p>
            <!-- Add more fields as needed -->
        </div>
    </div>

    <script src="static/js/user-details-script.js"></script>
</body>
</html>
