<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>User Details</title>
</head>
<body>
    <div id="user-details-container" class="container">
        <h2>User Details</h2>
        <div id="user-details">
            <p><strong>Username:</strong> <span id="username"></span></p>
            <p><strong>First Name:</strong> <span id="firstname"></span></p>
        </div>
    </div>

    <!-- Log out to return to main page -->
    <!-- DELETE ACCOUNT button -->

    <script src="/js/user-details-script.js"></script>
</body>
</html>
